# Python virtual environments
venv/
.venv/
venv_wsl_test/
env/
ENV/
.env/

# Python
*.pyc

# Media files
*.png
*.jpg
*.jpeg
*.bmp
*.gif
*.webp
*.mp4
*.avi
*.mkv
*.mov
*.wmv
*.flv
*.webm
*.m4v
*.mpg
*.mpeg
*.mts
*.m2ts
*.ts